# ======================
# PYTHON / DJANGO
# ======================
__pycache__/
*.py[cod]
*.sqlite3

# Entornos
venv/
env/
.venv/

# Variables de entorno
.env
backend/.env

# Archivos generados
backend/staticfiles/
backend/media/

# ----------------------
# Vue 3 (Frontend)
# ----------------------
frontend/node_modules/
frontend/dist/
frontend/.env

# ----------------------
# General
# ----------------------
.env
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
*.log
*.pot

# OS
*.swp


# Archivos de evaluación académica
BACKEND_PARTE1.txt
BACKEND_PARTE2.txt
FRONTEND.txt